{{!-- <section id="social" class="instagram"> --}}
{{!--     <div class="instagram__container"> --}}
{{!--         <div class="instagram__header"> --}}
{{!--             <span class="section-label">INSTAGRAM</span> --}}
{{!--             <h2 class="section-title">{{instagram.title}}</h2> --}}
{{!--             <p class="section-subtitle">{{instagram.subtitle}}</p> --}}
{{!--         </div> --}}

{{!--         <div class="instagram__posts"> --}}
{{!--             {{#each instagram.posts}} --}}
{{!--             <div class="instagram__post"> --}}
{{!--                 <div class="instagram__post-header"> --}}
{{!--                     <div class="instagram__profile"> --}}
{{!--                         <div class="instagram__profile-pic"> --}}
{{!--                             <img src="/assets/images/logo_purple.webp" alt="{{alt}}"> --}}
{{!--                         </div> --}}
{{!--                         <span class="instagram__username">Kickcash</span> --}}
{{!--                     </div> --}}
{{!--                     <img src="/assets/images/insta_logo.webp" alt="More" class="instagram__more"> --}}
{{!--                 </div> --}}

{{!--                 <img src="{{image}}" alt="{{alt}}" class="instagram__image"> --}}

{{!--                 <div class="instagram__actions"> --}}
{{!--                     <div class="instagram__action-buttons"> --}}
{{!--                         <img src="/assets/icons/post_like.svg" alt="Like"> --}}
{{!--                         <img src="/assets/icons/post_comment.svg" alt="Comment"> --}}
{{!--                         <img src="/assets/icons/post_share.svg" alt="Share"> --}}
{{!--                     </div> --}}
{{!--                     <img src="/assets/icons/post_save.svg" alt="Save"> --}}
{{!--                 </div> --}}

{{!--                 <div class="instagram__caption"> --}}
{{!--                     <span class="instagram__username">Kickcash</span> --}}
{{!--                     <span class="instagram__game">{{title}}</span> --}}
{{!--                     <p class="instagram__text">Play and earn as much as you can!</p> --}}
{{!--                 </div> --}}
{{!--             </div> --}}
{{!--             {{/each}} --}}
{{!--         </div> --}}
{{!--     </div> --}}
{{!-- </section> --}}
